*__pycache__/
*/backup/*
*bu.*
test/*
temp/*

assets/temp/*
assets/solidworks/*

assets/models/**/*.pt

assets/data/*
!**/d435_2024-08-22_14-22-56
!**/d435_2024-09-19_09-25-47
!**/d435_2024-09-19_12-45-25



